<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrigCorePlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrigCorePlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GrigCorePlayer.Properties.Settings>
            <setting name="api_key" serializeAs="String">
                <value>8009def8812a46365f28bd1ca0aaeb6a</value>
            </setting>
            <setting name="api_sec" serializeAs="String">
                <value>d9db880e592a46591434e819c0b64566</value>
            </setting>
            <setting name="vk_id" serializeAs="String">
                <value>2811182</value>
            </setting>
            <setting name="vk_access_token" serializeAs="String">
                <value>ac0e300ad51e76720a689db7116a0d8ed893196b27d064176037b3cddf23ea8b94f19276f3674336b02a9</value>
            </setting>
        </GrigCorePlayer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GrigCorePlayer.Properties.Settings>
            <setting name="vk_userid" serializeAs="String">
                <value>46180393</value>
            </setting>
            <setting name="lfm_token" serializeAs="String">
                <value />
            </setting>
            <setting name="lfm_apisig" serializeAs="String">
                <value />
            </setting>
            <setting name="lfm_sessionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="lfm_username" serializeAs="String">
                <value />
            </setting>
        </GrigCorePlayer.Properties.Settings>
    </userSettings>
</configuration>